<div class="content">
    <h4>Software Developer</h4>
    <div class="about-content">
        <!-- <img class="image-viplav" src="/assets/viplav.jpg" alt="Viplav's Picture"> -->
        <div class="about-card" style="margin-left: 20px;">
        
            <div [innerHTML]="intro"></div>
            <span *ngFor="let detail of details">
                <mat-icon>keyboard_arrow_right</mat-icon>
                <span>
                    {{detail}}
                </span>
                <br>
            </span>
        </div>
    </div>
</div>

<div class="content">
    <div class="about-content">
        <h1 style="color:teal">Skills</h1>
    </div>

    <ng-container *ngFor="let skill of skills">
        <div class="about-content skills-width">
            <div>
                <label for={{skill.skill}}>{{skill.skill}}</label>
                <label for={{skill.skill}} class="float-right">{{skill.percentage}}%</label>
                <br>
                <progress class="skills-width" id="html" value={{skill.percentage}} max="100"> {{skill.percentage}}% </progress>
            </div>
        </div>
    </ng-container>
</div>

<div class="content">
    <div class="about-content">
        <h1 style="color:seagreen">Achievements</h1>
    </div>
    <ng-container *ngFor="let achievement of achievements">
        <div class="card-container">
            <div class="card achievements-card">
                <span>{{achievement}}</span>
            </div>
        </div>
    </ng-container>
</div>

<div class="content">
    <div class="about-content">
        <h1 style="color: saddlebrown;">Interests</h1>
    </div>
</div>

<div class="row">
    <ng-container *ngFor="let interestWithIcon of interestWithIcons; let i = index">
        <div class="card-container int-card">
            <div class="card interest-card">
                <mat-icon style='color: purple'>{{interestWithIcon.icon}}</mat-icon>
                <h4>{{interestWithIcon.interest}}</h4>
            </div>
        </div>    
    </ng-container>    
</div>