<div class="content">
    <h4>Software Developer - Spade Infotech Pvt ltd</h4>
    <div class="about-content">
        <img class="image-viplav" src="/assets/viplav.jpg" alt="Viplav's Picture">
        
        <p class="about-card" style="margin-left: 20px; text-align: justify;">
            Hey ! This is Viplav Soni, a 24 years old young full stack developer and a passionate Youtube Creator living
            in Raipur, India. I am a Computer Science Engineer, currently working with an amazing team at Spade
            Infotech.
            I have around 2.8 years of hands-on experience in websites, and mobile application development using Angular
            and Ionic Framework. <br>

            Can write short Poems I mean "Haiku", Stories, Poems. <br>

            Started my YouTube journey to learn video editing but that increases my hungry to become an tech influencer. 
            Now Having 3K Subscriber and 3.13 lac views and having community tab on channel. <br>
            <span *ngFor="let detail of details">
                <mat-icon>keyboard_arrow_right</mat-icon>
                <span>
                    {{detail}}
                </span>
                <br>
            </span>
        </p>
    </div>
</div>

<div class="content">
    <div class="about-content">
        <h1 style="color:teal">Skills</h1>
    </div>

    <ng-container *ngFor="let skill of skills">
        <div class="about-content skills-width">
            <div>
                <label for={{skill.skill}}>{{skill.skill}}</label>
                <label for={{skill.skill}} class="float-right">{{skill.percentage}}%</label>
                <br>
                <progress class="skills-width" id="html" value={{skill.percentage}} max="100"> {{skill.percentage}}% </progress>
            </div>
        </div>
    </ng-container>
</div>

<div class="content">
    <div class="about-content">
        <h1 style="color:seagreen">Achievements</h1>
    </div>
    <ng-container *ngFor="let achievement of achievements">
        <div class="card-container">
            <div class="card achievements-card">
                <span>{{achievement}}</span>
            </div>
        </div>
    </ng-container>
</div>

<div class="content">
    <div class="about-content">
        <h1 style="color: saddlebrown;">Interests</h1>
    </div>
</div>

<div class="row">
    <ng-container *ngFor="let interestWithIcon of interestWithIcons; let i = index">
        <div class="card-container int-card">
            <div class="card interest-card">
                <mat-icon style='color: purple'>{{interestWithIcon.icon}}</mat-icon>
                <h4>{{interestWithIcon.interest}}</h4>
            </div>
        </div>    
    </ng-container>    
</div>