<div class="content">
    <h4>Software Developer - Spade Infotech Pvt ltd</h4>
    <div class="about-content">
        <img class="image-viplav" src="/assets/viplav.jpg" alt="Viplav's Picture">
        
        <p class="about-card" style="margin-left: 20px; text-align: justify;">
            Hey ! This is Viplav Soni, a 24 years old young full stack developer and a passionate Youtube Creator living
            in Raipur, India. I am a Computer Science Engineer, currently working with an amazing team at Spade
            Infotech.
            I have around 2.8 years of hands-on experience in websites, and mobile application development using Angular
            and Ionic Framework. <br>

            Can write short Poems I mean "Haiku", Stories, Poems. <br>

            Started my YouTube journey to learn video editing but that increases my hungry to become an tech influencer. 
            Now Having 3K Subscriber and 3.13 lac views and having community tab on channel. <br>
            <span *ngFor="let detail of details">
                <mat-icon>keyboard_arrow_right</mat-icon>
                <span>
                    {{detail}}
                </span>
                <br>
            </span>
        </p>
    </div>
</div>

<div class="content">
    <div class="about-content">
        <h1 style="color:teal">Skills</h1>
    </div>

    <div class="about-content skills-width">
        <div>
            <label for="html">HTML</label>
            <label for="html" class="float-right">80%</label>
            <br>
            <progress class="skills-width" id="html" value="80" max="100"> 80% </progress>
        </div>
    </div>

    <div class="about-content skills-width">
        <div>
            <label for="css">CSS</label>
            <label for="css" class="float-right">70%</label>
            <br>
            <progress class="skills-width" id="css" value="70" max="100"> 70% </progress>
        </div>
    </div>

    <div class="about-content skills-width">
        <div>
            <label for="angular">Angular</label>
            <label for="angular" class="float-right">95%</label>
            <br>
            <progress class="skills-width" id="angular" value="95" max="100"> 95% </progress>
        </div>
    </div>

    <div class="about-content skills-width">
        <div>
            <label for="ionic">Ionic</label>
            <label for="ionic" class="float-right">95%</label>
            <br>
            <progress class="skills-width" id="html" value="95" max="100"> 95% </progress>
        </div>
    </div>
    
    <div class="about-content skills-width">
        <div>
            <label for="pwa">PWA</label>
            <label for="pwa" class="float-right">65%</label>
            <br>
            <progress class="skills-width" id="pwa" value="65" max="100"> 65% </progress>
        </div>
    </div>

    <div class="about-content skills-width">
        <div>
            <label for="groovy">Groovy on Grails</label>
            <label for="groovy" class="float-right">75%</label>
            <br>
            <progress class="skills-width" id="groovy" value="75" max="100"> 75% </progress>
        </div>
    </div>

    <div class="about-content skills-width">
        <div>
            <label for="php">PHP</label>
            <label for="php" class="float-right">30%</label>
            <br>
            <progress class="skills-width" id="php" value="30" max="100"> 30% </progress>
        </div>
    </div>

    
    <div class="about-content skills-width">
        <div>
            <label for="git">Version Control ( Git )</label>
            <label for="git" class="float-right">89%</label>
            <br>
            <progress class="skills-width" id="git" value="89" max="100"> 89% </progress>
        </div>
    </div>
</div>

<div class="content">
    <div class="about-content">
        <h1 style="color:seagreen">Achievements</h1>
    </div>

    <div class="card-container">
        <div class="card achievements-card">
            <span>4th Position on IoT live Project competition held at IIT B.H.U.</span>
        </div>
    </div>

    <div class="card-container">
        <div class="card achievements-card">
            <span>Best Team Leader ( NSS SSEC Unit Camp )</span>
        </div>
    </div>
    
    <div class="card-container">
        <div class="card achievements-card">
            <span>Bagged first Prize on Slogan competition ( Govt of C.G. )</span>
        </div>
    </div>
</div>

<div class="content">
    <div class="about-content">
        <h1 style="color: saddlebrown;">Interests</h1>
    </div>
</div>

<div class="row">    
    <div class="card-container int-card">
        <div class="card interest-card">
            <mat-icon style="color: yellow;">dvr</mat-icon>
            <h4>PWA</h4>
        </div>
    </div>

    <div class="card-container int-card">
        <div class="card interest-card">
            <mat-icon style="color: rosybrown;">design_services</mat-icon>
            <h4>Design</h4>
        </div>
    </div>

    <div class="card-container int-card">
        <div class="card interest-card">
            <mat-icon style="color: red;">music_video</mat-icon>
            <h4>Music</h4>
        </div>
    </div>

    <div class="card-container int-card">
        <div class="card interest-card">
            <mat-icon style="color: orange;">mobile_friendly</mat-icon>
            <h4>Mobile App</h4>
        </div>
    </div>
    
    <div class="card-container int-card">
        <div class="card interest-card">
            <mat-icon style="color: pink;">travel_explore</mat-icon>
            <h4>Travelling</h4>
        </div>
    </div>
    
    <div class="card-container int-card">
        <div class="card interest-card">
            <mat-icon style="color: blueviolet;">directions_cars</mat-icon>
            <h4>Ride</h4>
        </div>
    </div>
</div>