<div class="content">
    <h5>Still need some help</h5>
</div>

<div class="row">
    <ng-container *ngFor="let contact of contactInfo">
        <div class="card-container int-card" *ngIf="contact['contactNumber']">
            <div class="card interest-card">
                <mat-icon style="color: green;">
                    call
                </mat-icon>
                <a href="tel:+91{{contact.contactNumber}}" type="tel">+91{{contact.contactNumber}}</a>
            </div>
        </div>

        <div class="card-container int-card" *ngIf="contact['email']">
            <div class="card interest-card">
                <mat-icon style="color: orchid;">
                    mail
                </mat-icon>
                <a href="mailto:{{contact.email}}">
                    {{contact.email}}
                </a>
            </div>
        </div>

        <div class="card-container int-card" *ngIf="contact['address']">
            <div class="card interest-card">
                <mat-icon style="color:blue;">
                    home
                </mat-icon>
                <p>{{contact.address}}</p>
            </div>
        </div>
    </ng-container>
</div>

<div class="content">
    <h5>Social Profiles</h5>
</div>

<div class="row">
    <ng-container *ngFor="let social of contactInfo">
        <div class="card-container so-card" *ngIf="social['stackOverflow']">
            <div class="card social-card">
                <a class="stack" href="{{social.stackOverflow}}">
                    <fa-icon [icon]="['fab', 'stack-overflow']"></fa-icon>
                </a>
            </div>
        </div>

        <div class="card-container so-card" *ngIf="social['githubLink']">
            <div class="card social-card">
                <a class="github" href="{{social.githubLink}}">
                    <fa-icon [icon]="['fab', 'github']"></fa-icon>
                </a>
            </div>
        </div>

        <div class="card-container so-card" *ngIf="social['twitter']">
            <div class="card social-card">
                <a href="{{social.twitter}}">
                    <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                </a>
            </div>
        </div>

        <div class="card-container so-card" *ngIf="social['youtube']">
            <div class="card social-card">
                <a class="youtube" href="{{social.youtube}}">
                    <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
                </a>
            </div>
        </div>
    </ng-container>
</div>