<div class="content">
    <h5>Still need some help</h5>
</div>

<div class="row">
    <div class="card-container int-card">
        <div class="card interest-card">
            <mat-icon style="color: green;">
                call
            </mat-icon>
            <a href="tel:+917869600848" type="tel">+917869600848</a>
        </div>
    </div>

    <div class="card-container int-card">
        <div class="card interest-card">
            <mat-icon style="color: orchid;">
                mail
            </mat-icon>
            <a href="mailto:viplavsoni3333@gmail.com">
                viplavsoni3333@gmail.com
            </a>
        </div>
    </div>

    <div class="card-container int-card">
        <div class="card interest-card">
            <mat-icon style="color:blue;">
                home
            </mat-icon>
            <p>Raipur C.G.</p>
        </div>
    </div>
</div>

<div class="content">
    <h5>Social Profiles</h5>
</div>

<div class="row">
    <div class="card-container so-card">
        <div class="card social-card">
            <a class="stack" href="https://stackoverflow.com/users/11727315/viplav-soni">
                <fa-icon [icon]="['fab', 'stack-overflow']"></fa-icon>
            </a>
        </div>
    </div>

    <div class="card-container so-card">
        <div class="card social-card">
            <a class="github" href="https://github.com/viplavsoni">
                <fa-icon [icon]="['fab', 'github']"></fa-icon>
            </a>
        </div>
    </div>

    <div class="card-container so-card">
        <div class="card social-card">
            <a href="https://twitter.com/viplav_soni">
                <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
            </a>
        </div>
    </div>

    <div class="card-container so-card">
        <div class="card social-card">
            <a class="youtube" href="https://youtube.com/technicalviplav">
                <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
            </a>
        </div>
    </div>
</div>