.navigation-btn {
    width: 200px;
    height: 50px;
    background-color: #f0ffff;
    color: black;
    text-align: left;
}

.menu-icon {
    cursor: default;
}

::ng-deep .mat-drawer-inner-container { 
    background-color: azure;
}